<!-- <div>

  <h3> This is the app component</h3>


  <b> Using Observables!</b>
  <h6 style="margin-bottom: 0">VALUES:</h6>
  <div *ngFor="let value of myArray"> {{ value }}</div>
  <div style="margin-bottom: 0">ERRORS: {{ errors }}</div>
  <div style="margin-bottom: 0">FINISHED: {{ finished }}</div>
  <button style="margin-top: 2rem;" (click)="fetchData()">Fetch Data</button>
 
  <button style="margin-top: 2rem;" (click)="display()">Show data in console </button>


</div> -->

<div class="banner">
    <div class="flex-item" style="background-color: red;">
    </div>
    <div class="flex-item" style="background-color: yellow;">
    </div>
    <div class="flex-item" style="background-color:white;">
    </div>
    <div class="flex-item" style="background-color: pink;">
    </div>
    <div class="flex-item" style="background-color: green;">
    </div>
</div>

<router-outlet></router-outlet>


<div class="footer">
    This is the footer
</div>