<!-- <div>

  <h3> This is the app component</h3>


  <b> Using Observables!</b>
  <h6 style="margin-bottom: 0">VALUES:</h6>
  <div *ngFor="let value of myArray"> {{ value }}</div>
  <div style="margin-bottom: 0">ERRORS: {{ errors }}</div>
  <div style="margin-bottom: 0">FINISHED: {{ finished }}</div>
  <button style="margin-top: 2rem;" (click)="fetchData()">Fetch Data</button>
 
  <button style="margin-top: 2rem;" (click)="display()">Show data in console </button>


</div> -->

<router-outlet></router-outlet>